@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Merienda:wght@300..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

/* font-family: "Merienda", cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 600;
}

body{
    background-image: url(Assetsss/tree.jpg);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

/* UTILITIES */
.regular-txt{
    font-weight: 400;
}
/* END UTILITIES */


.main-container{
    /* border: 3px solid; */
    height: 496px;
    width: 300px;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15),rgba(255, 255, 255, 0.15));
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 13px;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.8);
}

/* INPUT CONTAINER */
.input-container{
    position: relative;
    margin-bottom: 25px;
}
.city-input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgba(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.25s border;
    padding-right: 50px;
}
.city-input:focus{
    border: 3px solid rgba(0, 0, 0, 0.15);
}
.city-input::placeholder{
    color: rgba(255, 255, 255, 0.75);
}

.search-btn{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    display: flex;
    cursor: pointer;
}
/* END INPUT CONTAINER */

/* SECTION : WEATHER INFO  */
.weather-info{
    /* border: solid; */
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.location-date-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location{
    /* border: solid green; */
    display: flex;
    align-items: center;
    gap: 7px;
}

.weather-summary-container{
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img{
    width: 120px;
    height: 120px;
}
.weather-summary-info{
    text-align: end;
}

.weather-conditions-container{
    /* border: solid; */
    display: flex;
    justify-content: space-between;
}
.condition-item{
    /* border: solid; */
    display: flex;
    align-items: center;
    gap: 7px;
}
.condition-item span{
    font-size: 30px;
}
.forecast-item-container{
    display: flex;
    gap: 17px;
    overflow: scroll;
    padding-bottom: 14px;
    cursor: all-scroll;
}
/* .forecast-item-container::-webkit-scrollbar{
    height: 7px;
    background: rgba(0, 0, 0, 0.1);
    width: 0px;
} */
.forecast-item-container::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 99px;
}
.forecast-item-container::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-item{
    /* border: solid; */
    min-width: 75px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 11px;
    align-items: center;
    border-radius: 14px;
    transition: 0.3s background;
}
.forecast-item:hover{
    background: rgb(255, 255, 255, 0.1);
}

.forecast-item-img{
    width: 40px;
    height: 40px;
}

/* END SECTION : WEATHER INFO  */


/* Section Message */
.search-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 17px;
    margin-top: 15%;
}
.message-img{
    height: 250px;
    width: 250px;
}

/* End of Section Message */